---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedInIcon from '../components/Icons/LinkedIn.astro'
import GitHubIcon from '../components/Icons/GitHub.astro'
import PillsIcons from '../components/PillsIcons.astro'
import PillsMpoIcons from '../components/PillsMpo.astro'
import MailIcon from '../components/Icons/Mail.astro'
import BriefCase from '../components/Icons/BriefCase.astro'
import Experience from '../components/Experience.astro'
import Aptitudes from '../components/Icons/Aptitudes.astro';


---

<Layout title="Porfolio de Ricardo - Informático egresado en 2008" description='Apasionado en crear valor'>
	<main class="container md:px-4 px-2">
		<SectionContainer id="top" class="mt-8 md:mt-28 mb-14 md:mb-28">
			<img class="border-solid border-2 border-white-600 rounded-full size-20 md:size-24 mb-5 ml-2  md:ml-0" src="/imageProfilenew.jpg" alt="logo-rorri">
			<h1 class="text-white text-xl lg:text-4xl font-bold md:flex md:flex-row gap-x-4 pb-6">Aloha! soy Ricardo 
			<a href="https://www.linkedin.com/in/rorri/" class="flex md:justify-center items-center mt-1">
			<Badge>Disponible para trabajar</Badge>
			</a>
			</h1>
			<h2 class="md:text-balance text-sm md:text-base">
				Informático titulado en el 2008 con +6 años de experiencia en la administración de redes e infraestructura en el ámbito empresarial, 
				+12 años aprendiendo tecnologías y creando soluciones de manera autónoma. Founder de <PillsMpoIcons/> una pequeña tienda de 
				golosinas que ofrece productos innovadores en el mercado Chileno. Siempre buscando ideas y maneras de resolver problemas que surgen en la humanidad.
			</h2>
			<nav class="flex gap-3 mt-8 md:mt-4 flex-wrap">
				<PillsIcons href="https://www.linkedin.com/in/rorri/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</PillsIcons>
				<PillsIcons href="https://github.com/barbarred">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</PillsIcons>
				<PillsIcons href="mailto:ricardo.rjose@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					ricardo.rjose@gmail.com
				</PillsIcons>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<div class="flex md:flex-row gap-x-16 md:gap-x-40">
				<h2 class="text-xl md:text-2xl font-semibold flex gap-x-2 items-center mb-8">
				<BriefCase class="size-6"/>
				Experiencia
				</h2>
				<div class="flex flex-col md:flex-row gap-x-2 text-sm">
				<h3 class="font-semibold flex gap-x-2 items-center md:mb-8">
				<Aptitudes class="size-6"/>
				Aptitudes</h3>
				<select name="ver" class="w-[80px] bg-slate-950 border-transparent py-0 text-sm font-normal md:mb-8 self-end md:self-auto">
				<option value="value1" class="text-xs md:text-sm">Git/GitHub</option>
				<option value="value2" class="text-xs md:text-sm">CI/CD</option>
				<option value="value3" class="text-xs md:text-sm">S.O.L.I.D</option>
				<option value="value4" class="text-xs md:text-sm">TDD</option>
				<option value="value5" class="text-xs md:text-sm">Six Sigma-green belt</option>
				</select>
				</div>
			</div>
			<Experience />
		</SectionContainer>
	</main>
</Layout>

