---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedInIcon from '../components/Icons/LinkedIn.astro'
import GitHubIcon from '../components/Icons/GitHub.astro'
import PillsIcons from '../components/PillsIcons.astro'
import InstagramModal from '../components/InstagramModal.astro'
import MailIcon from '../components/Icons/Mail.astro'
import BriefCase from '../components/Icons/BriefCase.astro'
import Experience from '../components/Experience.astro'
import Aptitudes from '../components/Icons/Aptitudes.astro'
import AptitudesTooltip from '../components/AptitudesTooltip.astro'
import RocketIcon from '../components/Icons/RocketIcon.astro'
import Projects from '../components/Projects.astro'

---

<Layout title="Ricardo - r0rri | Informático & Entrepreneur" description='Apasionado en crear valor'>
	<main class="container md:px-4 px-2">
		<SectionContainer id="top" class="mt-8 md:mt-28 mb-14 md:mb-28">
			<img class="border-solid border-2 border-white-600 rounded-full size-20 md:size-24 mb-5 ml-2  md:ml-0 hover:scale-150 transition" src="/imageProfilenew.jpg" alt="logo-rorri">
			<h1 class="text-white text-xl lg:text-4xl font-bold md:flex md:flex-row gap-x-4 pb-6">Aloha! soy Ricardo 
			<a href="https://www.linkedin.com/in/rorri/" class="flex md:justify-center items-center mt-1" target="_blank" rel="noopener noreferrer">
			<Badge>open to work</Badge>
			</a>
			</h1>
			<h2 class="md:text-balance text-sm md:text-base">
				Informático titulado en el 2008 con 6 años de experiencia en la administración de redes e infraestructura en el ámbito empresarial, 
				15 años aprendiendo tecnologías y creando soluciones de manera autónoma. Founder de <span class="inline-block align-middle"><InstagramModal/></span> una tienda de 
				postres que ofrece productos innovadores en el mercado Chileno. Siempre buscando ideas y maneras de resolver problemas que surgen en la humanidad.
			</h2>
			<nav class="flex justify-center md:justify-start gap-3 mt-8 md:mt-4 flex-wrap ">
				<PillsIcons href="https://www.linkedin.com/in/rorri/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</PillsIcons>
				<PillsIcons href="https://github.com/barbarred">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</PillsIcons>
				<PillsIcons href="mailto:r0rri.dev@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					r0rri.dev@gmail.com
				</PillsIcons>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<div class="flex md:flex-row justify-between gap-x-16 md:gap-x-40">
				<h2 class="text-xl md:text-2xl font-semibold flex gap-x-2 items-center mb-8">
				<RocketIcon class="size-7"/>
				Últimos Proyectos
				</h2>
			</div>
			<Projects />
		</SectionContainer>

		<SectionContainer id="experiencia">
			<div class="flex md:flex-row justify-between gap-x-16 md:gap-x-40">
				<h2 class="text-xl md:text-2xl font-semibold flex gap-x-2 items-center mb-8">
				<BriefCase class="size-7"/>
				Experiencia
				</h2>
				<div class="flex flex-col md:flex-row gap-x-2 text-sm">
					<div class="font-semibold flex gap-x-2 items-center md:mb-8">
						<AptitudesTooltip />
						<Aptitudes class="hidden md:block size-6"/>
					</div>
				</div>
			</div>
			<Experience />
		</SectionContainer>
	</main>
</Layout>

