---
import LinkedInIcon from "./Icons/LinkedIn.astro"
import GitHubIcon from "./Icons/GitHub.astro"
const fecha = new Date();
const año = fecha.getFullYear();

---

<footer class="mt-8 mb-4 md:px-8">
    <div class="w-full mx-auto max-w-screen-xl flex flex-col justify-center">
        <div class="flex flex-col md:flex-row justify-center items-center">
            <a href="https://serviciosweb.r0rri.com/" class="text-xs md:text-base text-gray-500 text-center dark:text-gray-400 md:mr-8">
                Servicios Web
            </a>
            <a href="https://blog.r0rri.com/" class="text-xs md:text-base text-gray-500 text-center dark:text-gray-400">
            Blog
            </a>
    </div>
    <ul class="flex justify-center items-center mt-3 text-sm sm:mt-0">
        <li class="m-4">
            <a href="https://www.linkedin.com/in/rorri/">
            <LinkedInIcon class="size-4 md:size-6"/>
            </a>
        </li>
        <li>
            <a href="https://github.com/barbarred">
                <GitHubIcon class="size-4 md:size-6"/>
            </a>
        </li>
    </ul>
    </div>
</footer>
