<header class="flex justify-center items-center py-10 w-full mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-50 text-sm md:text-base">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="https://api.whatsapp.com/send?phone=56964188837">Contacto</a>
    </nav>
</header>