<header class="flex justify-end md:justify-center items-center py-10 w-full mx-auto px-4">
    <nav class="hidden md:flex flex-row gap-x-10 opacity-50 text-sm md:text-base">
        <a href="#top" rel="noopener noreferrer">Inicio</a>
        <a href="#experiencia" rel="noopener noreferrer">Experiencia</a>
        <a href="https://serviciosweb.r0rri.com/" target="_blank" rel="noopener noreferrer">Servicios Web</a>
        <a href="https://blog.r0rri.com/" target="_blank" rel="noopener noreferrer">Blog</a>
    </nav>
    <div class="md:hidden">
        <button id="mobile-menu-button" class="text-gray-500 dark:text-white hover:text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</header>
<div id="mobile-menu" class="hidden md:hidden bg-gray-800 bg-opacity-95 fixed top-0 left-0 w-full h-full z-50">
    <button id="close-menu-button" class="absolute top-10 right-4 text-gray-500 dark:text-white hover:text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
    <nav class="flex flex-col items-center justify-center h-full gap-y-10 text-white text-lg">
        <a href="#top" class="mobile-link" rel="noopener noreferrer">Inicio</a>
        <a href="#experiencia" class="mobile-link" rel="noopener noreferrer">Experiencia</a>
        <a href="https://serviciosweb.r0rri.com/" class="mobile-link" target="_blank" rel="noopener noreferrer">Servicios Web</a>
        <a href="https://blog.r0rri.com/" class="mobile-link" target="_blank" rel="noopener noreferrer">Blog</a>
    </nav>
</div>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const closeMenuButton = document.getElementById('close-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    const mobileLinks = document.querySelectorAll('.mobile-link');

    const toggleMenu = () => {
        if (mobileMenu) {
            mobileMenu.classList.toggle('hidden');
        }
    };

    if (mobileMenuButton) {
        mobileMenuButton.addEventListener('click', toggleMenu);
    }

    if (closeMenuButton) {
        closeMenuButton.addEventListener('click', toggleMenu);
    }

    mobileLinks.forEach(link => {
        link.addEventListener('click', () => {
            if (mobileMenu && !mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.add('hidden');
            }
        });
    });
</script>